.plant-card-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 180px;
  transition: transform 0.2s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  cursor: pointer;
  position: relative;
 
}

.delete-button-card {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button-card:hover{
  background-color: #e74c3c;
}

.delete-icon-card {
  color: #666;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.delete-button-card:hover .delete-icon-card {
  color: white; /* Red color on hover */
}

.plant-card-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-card-container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}

.plant-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.plant-card-container:hover .plant-image {
  transform: scale(1.03);
}

.plant-info {
  padding: 8px 8px 6px 8px;
  text-align: center;
}

.plant-name-card {
  margin: 0;
  color: #2c5432;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  margin-bottom: 2px;
}

.plant-mode-card {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #3a3a3a;
}

.plant-date-card {
  margin: 0;
  color: #666;
  font-size: 0.75rem;
  font-weight: 400;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .plant-card-container {
    margin: 20px;
  }
}